* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container1 {
    display: grid;
    
    /* grid-template-columns: 100px 200px; Phần thành 2 cột một cột 100px và cột 2 200px*/
    /* Cú pháp viết ngắn cho đoạn này
        grid-template-columns: repeat (3, 100px) */
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: 100px 100px 100px;
    row-gap: 10px;
    column-gap: 20px;
    background-color: red;
    padding: 24px;
    border-radius: 12px;
}
.item {
    border: 2px solid #333;
    background-color: aliceblue;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}